$backgroundColor:#399252;
$mainContentColor : #B3DBE3;
$white-color: white;


.my-style{
    background: linear-gradient(#399252 , #E78200);
}

 .navbar-nav{
 .nav-item{
 .nav-link{
    color: white;  
}
 }
}



